body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  padding-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  /* background: antiquewhite; */

  background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("https://ctsv.hust.edu.vn/static/img/banner-home.d4038b4b.png");
  /* opacity: 0.5; */
}

.login,
.register {
  width: 400px;
}

.login h2,
.register h2 {
  /* margin-top: 0 !important; */
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.login a {
  text-align: center;
}

input[type='text'] {
  background-color: #e6e6e6;
  color: #990000;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
  padding: 20px 30px;
}

input[type='password'] {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #990000;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
}

input[type='submit'] {
  padding: 15px 0px;
  background-color: #990000;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

.check {
  font-size: 16px;
}
/* header css */
.header {
  
  overflow: hidden;
  background-color: #990000;
  padding: 20px 10px;
  /* margin-bottom: 50px; */
}

.header a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.header a:hover {
  background-color: #ddd;
  color: #fff;
}

.header a.active {
  /* background-color: dodgerblue; */
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/* footer css */
footer{
  position: fixed;
  bottom: 0;
 }
 .footer-distributed{
  background-color: #990000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  
  padding: 55px 50px;
  margin-top: 80px;
 }
  
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }
  
 .footer-distributed .footer-left{
  width: 40%;
 }
  
 .footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }
  
 .footer-distributed h3 span{
  color:  #5383d3;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }
  
  
 .footer-distributed .footer-center{
  width: 35%;
 }
  
 .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  
 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
  
 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }
  
 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }
  
 .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
 }
  
 .footer-distributed .footer-right{
  width: 20%;
 }
  
 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }
  
 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 25px;
 }
  
 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
 }
  
  
 @media (max-width: 880px) {
  
  .footer-distributed{
  font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i{
  margin-left: 0;
  }
}